run-name: Build & Release

on:
  workflow_run:
    workflows: ["Create & Push New Tag"]
    types: [completed]
    branches: main

permissions:
  contents: write
  actions: read

jobs:
  deploy_release:
    runs-on: ubuntu-latest
    steps:
      - name: "gh-cli auth login"
        run: gh auth login --with-token <<< "${{ github.token }}"

      - uses: actions/checkout@v4
        
      - name: "Build binaries"
        run: make build

      - name: Get latest tag
        id: get_latest_tag
        run: |
          latest_tag=$(git describe --tags --abbrev=0)
          echo "Latest tag: $latest_tag"
          echo "latest_tag=$latest_tag" >> $GITHUB_OUTPUT

      - name: "Release binaries"
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.get_latest_tag.outputs.latest_tag }}
          files: |
            bin/dbdaddy-darwin-amd64
            bin/dbdaddy-darwin-arm64
            bin/dbdaddy-freebsd-amd64
            bin/dbdaddy-linux-386
            bin/dbdaddy-linux-amd64
            bin/dbdaddy-linux-arm64
            bin/dbdaddy-windows-386
            bin/dbdaddy-windows-amd64